GridBackground {
	--grid-background-color: var(--pt-colors-grid-ligh-grey-1);
	--line-color: var(--pt-colors-grid-ligh-grey-2);
	--thick-line-color: var(--pt-colors-grid-ligh-grey-3);
	--spacing: 25;
}

.pt-node-label {
    color: var(--pt-colors-label-ligh-white-1);
    font-size: 40px;
    -unity-font-style: bold;
    -unity-text-align: middle-center;
}

.pt-matrix-box {
    width: 30;
    height: 30;
    background-color: var(--pt-colors-label-ligh-white-03);
}